<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="<%= static_path(@conn, "/images/favicon.ico") %>">

    <title>My Spotify Groomer</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
</head>

<body>
    <main role="main" class="full-height">
        <%= render @view_module, @view_template, assigns %>
    </main>

    <div id="error-modal" class="ui modal">
        <div class="header">
            😢 Uh-oh! <span id="error-modal-title">
                <!-- Dynamically filled on error -->
            </span>
        </div>
        <div class="content">
            <p id="error-modal-message">
                <!-- Dynamically filled on error -->
            </p>
        </div>
        <div class="actions">
            <div id="error-modal-button" class="ui positive button">
                <!-- Dynamically filled on error -->
            </div>
        </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
